In [1]:
#                          Data Types and Structures Questions

In [ ]:
'''
1.	What are data structures, and why are they important?
  ->Data structures are ways to store and organize data efficiently, enabling efficient access and modification.
    They are crucial for building efficient algorithms and managing data effectively.

2.	Explain the difference between mutable and immutable data types with examples.
  ->mutable data type means which can be changed after creation (eg-list,set).
  ->immutable data type means that can't be changed after creation (eg-tuple,string).
  
3.	What are the main differences between lists and tuples in Python?
  ->list are mutable and tuple are immutable
  
4.	Describe how dictionaries store data.
  ->dictionary store data in form of key and value pair in which we can access value only through key
  
5.	Why might you use a set instead of a list in Python?
  ->set has no fixed index value or unordered so, you can't access set through index value and it does not store duplicate
    value.
  
6.	What is a string in Python, and how is it different from a list?
  ->Strings store text data and are immutableLists can store multiple data types, are mutable, and can include strings as
    elements.
  
7.	How do tuples ensure data integrity in Python?
  ->Tuples are immutable, which means their data cannot be changed after creation, ensuring consistency
  
8.	What is a hash table, and how does it relate to dictionaries in Python?
  ->A hash table is a data structure that maps keys to values. Dictionaries in Python use hash tables to store key-value
    pairs, allowing for fast lookups.

9.	Can lists contain different data types in Python?
  ->Yes,list can contain diferent data types like integer,string,boolean,float and more.
  
10.	Explain why strings are immutable in Python.
  ->Strings are immutable to ensure their integrity and to allow for more efficient memory management and
    string manipulation.

11.	What advantages do dictionaries offer over lists for certain tasks?
  ->Dictionaries offer fast lookups, insertion, and deletion operations using keys, making them efficient.

12.	Describe a scenario where using a tuple would be preferable over a list.
  ->Using a tuple is preferable when you need an immutable sequence of data, such as storing constants or fixed data
    like aadhar numbers to prevent modifications.

13.	How do sets handle duplicate values in Python?
  ->Sets do not allow duplicate values; each element must be unique.

14.	How does the "in" keyword work differently for lists and dictionaries?
 ->In list "in" checks for the presence of an element.
 ->In dictionary "in" checks for the presence of a key.

15.	Can you modify the elements of a tuple? Explain why or why not.
 ->No,you can,t modify it because tuples are immutable, ensuring that their data cannot be altered or changed.

16.	What is a nested dictionary, and give an example of its use case?
  ->A nested dictionary is a dictionary within another dictionary. Useful for representing hierarchical data.

17.	Describe the time complexity of accessing elements in a dictionary.
  ->The average time complexity for accessing elements in a dictionary is O(1)

18.	In what situations are lists preferred over dictionaries?
  ->Lists are preferred when the order of elements is important or when you need to store a collection of items
    without key-value pairs.

19.	Why are dictionaries considered unordered, and how does that affect data retrieval?
  ->Dictionaries are accessed using keys, not by indices. This means you cannot rely on the order of items as in lists,
    but it allows for fast key-based access.

20.	Explain the difference between a list and a dictionary in terms of data retrieval.
  ->In a list, data is retrieved by index.
  ->In a dictionary, data is retrieved by key, making retrieval faster and more flexible.

'''

In [3]:
#                                 Practical Questions

In [73]:
#1.	Write a code to create a string with your name and print it.

name="sudhanshu kumar singh"
print(name)

sudhanshu kumar singh

In [133]:
# 2. Write a code to find the length of the string "Hello World".

str="Hello World"
count=0
for i in str:
    count=count+1
print(count)

11

In [13]:
len(str)

11

In [131]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming".

new_str="python programming"
new_str[:3]

'pyt'

In [135]:
# 4. Write a code to convert the string "hello" to uppercase.

a="hello"
a.upper()

'HELLO'

In [137]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

sen="I like apple"
sen.replace("apple","orange")

'I like orange'

In [139]:
# 6. Write a code to create a list with numbers l to 5 and print it.

l1=[i for i in range(1,6)]
l1

[1, 2, 3, 4, 5]

In [47]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4].

l2=[1,2,3,4]
l2.append(10)
l2

[1, 2, 3, 4, 10]

In [51]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

l3=[1,2,3,4,5]
l3.remove(3)
l3

[1, 2, 4, 5]

In [53]:
# 9. Write a code to access the second element in the list ['a', 'b', ·c·, 'd'].

l4=['a','b','c','d']
l4[1]

'b'

In [57]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50 ].

l5=[10,20,30,40,50]
l5.reverse()
l5

[50, 40, 30, 20, 10]

In [85]:
# 11. Write a code to create a tuple with the elements 10, 20, 30 and print it.

t1=(10,20,30)
print(t1)

(10, 20, 30)

In [59]:
# 12. Write a code to access the first element of the tuple ('apple', banana', 'cherry').

t2=('apple', 'banana', 'cherry')
t2[0]

'apple'

In [61]:
# 13. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

t3=(1, 2, 3, 2, 4, 2)
t3.count(2)

3

In [63]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

t4=('dog', 'cat', 'rabbit')
t4.index("cat")

1

In [109]:
# 15. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

t5=('apple', 'orange', 'banana')
"banana" in t5

True

In [119]:
# 16. Write a code to create a set with the elements l, 2, 3, 4, 5 and print it.

s1={1,2,3,4,5}
s1

{1, 2, 3, 4, 5}

In [93]:
# 17. Write a code to add the element 6 to the set {1, 2, 3, 4}.

s2={1,2,3,4}
s2.add(6)
s2

{1, 2, 3, 4, 6}

In [113]:
# 18. Write a code to create a tuple with the elements 10, 20, 30 and print it.

t7=(10,20,30)
t7

(10, 20, 30)

In [103]:
# 19. Write a code to access the first element of the tuple ('apple', banana', 'cherry').

t6=('apple', 'banana', 'cherry')
t6[0]

'apple'

In [111]:
# 20. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

t8=(1, 2, 3, 2, 4, 2)
t8.count(2)

3

In [115]:
# 21. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

t9=('dog', 'cat', 'rabbit')
t9.index('cat')

1

In [117]:
# 22. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', banana').

t10=('apple', 'orange', 'banana')
'banana' in t10

True

In [121]:
# 23. Write a code to create a set with the elements l, 2, 3, 4, 5 and print it.

s6={i for i in range(1,6)}
s6

{1, 2, 3, 4, 5}

In [ ]:
# 24. Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [123]:
s7={1,2,3,4}
s7.add(6)
s7

{1, 2, 3, 4, 6}